@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    San Diego State University<br />
    5500 Campanile Dr, San Diego, CA 92182<br />
    <abbr title="Phone">P:</abbr>
    619.555.0100
</address>

<address>
    <strong>SDSUID:</strong> <a href="mailto:jjgutierrez@sdsu.edu">jjgutierrez@sdsu.edu</a><br />
    <strong>Personal:</strong> <a href="mailto:juanjrguti@hotmail.com">juanjrguti@hotmail.com</a>
</address>
